<!DOCTYPE html>
<html lang="en-US">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Meta -->
        <meta charset="utf-8" />
        <meta name="viewport"    content="width=device-width, initial-scale=1" />
        <meta name="description" content="Simulate a flag waving in the breeze right in your browser window." />
        <!--
        Flag Waver
            Simulate a flag waving in the breeze right in your browser window.
        -->
        <title>Online Flag Waver</title>
        <!-- Libraries -->
        
        <!-- Notify Script -->
        <!-- Le styles -->
<!--         <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet"> -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
        
        <!-- Notify CSS -->
        <link href="/static/css/bootstrap-notify.css" rel="stylesheet">

        <!-- Custom Styles -->
        <link href="/static/css/styles/alert-bangtidy.css" rel="stylesheet">
        <link href="/static/css/styles/alert-blackgloss.css" rel="stylesheet">

        <link type="text/css" rel="stylesheet" href="/static/css/normalize.min.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/css.css" />
        <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/static/js/three.min.js"></script>
        <script type="text/javascript" src="/static/js/modernizr.custom.95719.js"></script>
        <script type="text/javascript" src="/static/js/rivets.bundled.min.js"></script>
        <!-- Main -->
        <link type="text/css" rel="stylesheet" href="/static/css/flagwaver-ui.css" />
        <script type="text/javascript" src="/static/js/hashvars.js?r={{reload}}"></script>
        <script type="text/javascript" src="/static/js/flagwaver.js?r={{reload}}"></script>
        <script type="text/javascript" src="/static/js/flagwaver-ui.js?r={{reload}}"></script>
        <link href="/static/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="/static/js/bootstrap-toggle.min.js"></script>
        <!-- SocketScript -->
        <script src="/static/js/jquery-1.12.4.min.js"></script>
        <script src="/static/js/socket.io.js"></script>
        <script type="text/javascript" charset="utf-8">


        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io(namespace);
            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'WebSocket Online'});
                $('.top-right').notify({
                    message: { text: 'WebSocket Online' }
                  }).show();
            });
            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg, cb) {
                $('#serial').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                var objDiv = document.getElementById("serial");
                objDiv.scrollTop = objDiv.scrollHeight;
                //window.flagWaver.setWindDetails(135,130);
                if (cb)
                    cb();
            });
            angle = 0
            speed = 0
            socket.on('my_angle', function(msg, cb) {

                //$('#serial').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                //var objDiv = document.getElementById("serial");
                //objDiv.scrollTop = objDiv.scrollHeight;
                angle = msg.data;                
                //window.flagWaver.setWindDetails(msg.data,130);
                //window.console.log(msg.data);
                if (cb)
                    cb();
            });
            socket.on('my_speed', function(msg, cb) {
                //$('#serial').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                //var objDiv = document.getElementById("serial");
                //objDiv.scrollTop = objDiv.scrollHeight;
                speed = msg.data;
                $("label[for='myalue1']").html(speed);
                $("label[for='myalue2']").html(angle);
                window.flagWaver.setWindDetails(angle,speed);
                //window.console.log(msg.data);
                if (cb)
                    cb();
            });
            socket.on('my_disconnect', function(msg, cb) {
                //$('#serial').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                //var objDiv = document.getElementById("serial");
                //objDiv.scrollTop = objDiv.scrollHeight;
                if(msg.data == "1"){
                    $("#calc").text("Connect");
                    document.getElementById("calc").disabled = false;
                    //document.getElementById("set-top-edge").disabled = false;
                }
                //window.console.log(msg.data);
                if (cb)
                    cb();
            });
            socket.on('my_ports', function(msg, cb) {
                $('#serial').append('<br>' + $('<div/>').text('Received #' + msg.count + ': Available Ports: ' + msg.data).html());
                //var objDiv = document.getElementById("serial");
                //objDiv.scrollTop = objDiv.scrollHeight;
                //angle = msg.data;
                //window.flagWaver.setWindDetails(msg.data,130);
                //window.console.log(msg.data);
                items = msg.data
                $("#set-top-edge option").remove();
                $.each(items, function (i, item) {
                    $('#set-top-edge').append($('<option>', { 
                        value: item,
                        text : item 
                    }));
                });
                if (msg.data != '') {
                    document.getElementById("set-top-edge").disabled = false;
                    $('.top-right').notify({
                        message: { text: 'Check Available Ports' }
                      }).show();
                }
                if (cb)
                    cb();
            });
            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);
            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

                google.charts.load('current', {'packages':['gauge']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {

            var data = google.visualization.arrayToDataTable([
              ['Label', 'Value'],
              ['Speed', 130]
    /*          ['CPU', 55],
              ['Network', 68],
              ['Network2', 68]*/
            ]);

            var options = {
              width: 400, height: 120,
              redFrom: 100, redTo: 130,
              yellowFrom:80, yellowTo: 100,
              minorTicks: 5, min: 0, max: 130
            };

            var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

            chart.draw(data, options);

            setInterval(function() {
              //data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
              data.setValue(0,1,speed);
              chart.draw(data, options);
            }, 500);
    /*        setInterval(function() {
              data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
              chart.draw(data, options);
            }, 5000);
            setInterval(function() {
              data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
              chart.draw(data, options);
            }, 26000);*/
          }
            var overlay = jQuery('<div id="overlay"><div style="position:fixed;top:50%;left:50%;">\
                <div class="input-btn-group input-img-web">\
                <select\
    class="input-control input-btn input-select"\
    aria-label="Hoist top edge"\
    data-rv-value="flagWaverOpts.flag.topEdge"\
    data-rv-on-change="flagWaverControls.flag.setTopEdge"\
    id="set-top-edge"\
></select>\
                    <input\
                            type="button"\
                            class="input-control input-btn"\
                            value="Connect"\
                            onclick="window.openFullscreen();"\
                            id="set-img-link"\
                            />\
                    \
                </div> </div> </div>');
            //overlay.appendTo(document.body)


            var editAdd = [openFullscreen, closeFullscreen],  // store your function names into array
            c = 0;

            $('#full img').click(function(e){  
              e.preventDefault();
              editAdd[c++%2]();                 // toggle array index and use as function
                                                // % = Modulo operator
            });
        });
                /* Get the documentElement (<html>) to display the page in fullscreen */
            var elem = document.documentElement;

            /* View in fullscreen */
            function openFullscreen() {
              if (elem.requestFullscreen) {
                elem.requestFullscreen();
              } else if (elem.mozRequestFullScreen) { /* Firefox */
                elem.mozRequestFullScreen();
              } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
                elem.webkitRequestFullscreen();
              } else if (elem.msRequestFullscreen) { /* IE/Edge */
                elem.msRequestFullscreen();
              }
            }
            function closeFullscreen() {
              if (document.exitFullscreen) {
                document.exitFullscreen();
              } else if (document.mozCancelFullScreen) { /* Firefox */
                document.mozCancelFullScreen();
              } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
                document.webkitExitFullscreen();
              } else if (document.msExitFullscreen) { /* IE/Edge */
                document.msExitFullscreen();
              }
            }


            
    </script>
    </head>

    <body>
        <iframe src="/static/sounds/silence.mp3" allow="autoplay" id="audio" style="display:none" ></iframe>
        <audio id="mySoundClip">
            <source src="/static/sounds/hover.mp3"></source>
            Your browser isn't invited for super fun audio time.
        </audio>
        <div id="fog"></div>
        <div class="wrapper-page bg-sky">

            <header class="page-header">
                <h1>Flag Waver</h1>
               <!--  <p>Async mode is: <b>{{ async_mode }}</b></p> -->
                <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
                

            </header>
            <main class="page-main">
                <div class="js-flag-canvas"></div>

            </main>

            <aside class="page-controls">
<script type="text/javascript" src="/static/js/loader.js"></script>
       <div id="chart_div" style="width: 400px; height: 120px;zoom: 2.5;"></div>
                <div class="input-btn-group input-img-web">
                    <input
                            type="button"
                            class="input-control input-btn"
                            value="Audio"
                            onclick="window.stopallaudio();"
                            id="set-img-link"
                            />
                    
                </div>
<!-- <input type="number" id="a" class="input-control input-control-main input-img-web"> -->

<select
    class="input-control input-btn input-select"
    aria-label="Hoist top edge"
    data-rv-value="flagWaverOpts.flag.topEdge"
    data-rv-on-change="flagWaverControls.flag.setTopEdge"
    id="set-top-edge"
>
<!--     <option value="top">COM1</option>
    <option value="left">COM2</option>
    <option value="bottom">COM3</option>
    <option value="right">COM4</option> -->
</select>
<button id="calc" class="input-control input-btn" value="Connect">Connect</button>
<div id="results">
   <div id="add"></div>
   <div id="subtract"></div>
   <div id="multiply"></div>
   <div id="divide"></div>
             <div id="serial" style="background-color:#00000f;width:400px;height:400px;opacity:0.5;border-radius: 5px;overflow: auto"/>
</div>

<!-- <pre id="info"></pre>
<div id="description"></div> -->

<script src="/static/jquery-3.1.1.min.js"></script>
<script src="/static/math.js?r={{reload}}"></script>
        <script>
            var audio = $("#mySoundClip")[0];
            $("aside button, aside input, aside select").mouseenter(function() {
              audio.play();
            });

            var gl = new THREE.WebGLRenderer().getContext();
            var debug_renderer_info = gl.getExtension("WEBGL_debug_renderer_info");
            var vendor = gl.getParameter(debug_renderer_info.UNMASKED_VENDOR_WEBGL);
            var renderer = gl.getParameter(debug_renderer_info.UNMASKED_RENDERER_WEBGL);
            console.log(vendor);
            console.log(renderer);
        </script>
            </aside>
            <!-- <aside class="page-controls">
                <div class="page-controls-basic">
                    <div class="page-controls-group page-controls-wide">
                        <h2>Upload Image</h2>
                        <div class="input-control-group control-img-upload" id="control-img-upload">
                            <div class="input-btn-group">
                                <select
                                    class="input-control input-btn input-select"
                                    aria-label="Upload image from"
                                    data-rv-value="flagWaverOpts.flag.imgUploadMode"
                                    data-rv-on-change="flagWaverControls.flag.setImgUploadMode"
                                    id="set-img-upload-mode"
                                >
                                    <option value="web">Web</option>
                                    <option value="file">File</option>
                                </select>
                            </div>
                            <input
                                type="text"
                                class="input-control input-control-main input-img-web"
                                placeholder="Enter image URL"
                                aria-label="Enter image URL"
                                data-rv-value="flagWaverOpts.flag.imgURL"
                                id="input-img-link"
                            />
                            <div class="input-btn-group input-img-web">
                                <input
                                    type="button"
                                    class="input-control input-btn"
                                    value="Go!"
                                    data-rv-on-click="flagWaverControls.flag.setImgURL"
                                    id="set-img-link"
                                />
                            </div>
                            <div class="input-control input-control-main input-file input-img-file">
                                <label
                                    class="input-cover input-face"
                                    for="open-img-file"
                                    data-rv-text="flagWaverOpts.flag.imgFilePath | fileName 'Open a file'"
                                    id="info-img-file"
                                ></label>
                                <input
                                    type="file"
                                    class="input-cover input-hidden"
                                    accept="image/*"
                                    data-rv-on-change="flagWaverControls.flag.setImgFile"
                                    id="open-img-file"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="page-controls-group">
                        <input
                            type="button"
                            class="expander input-control input-btn"
                            data-target="#expandable-controls"
                            data-text-expanded="Hide Options"
                            data-text-collapsed="More Options"
                            aria-expanded="false"
                            aria-controls="expandable-controls"
                        />
                    </div>
                </div>
                <div class="page-controls-more expandable" aria-hidden="true" id="expandable-controls">
                    <div class="page-controls-group">
                        <h2>Wind</h2>
                        <input
                            type="button"
                            class="input-control input-btn input-btn-md"
                            data-text-selected="Wind: On"
                            data-text-unselected="Wind: Off"
                            data-rv-value="flagWaverOpts.isWindOn | onoff 'Wind On' 'Wind Off'"
                            data-rv-on-click="flagWaverControls.toggleWind"
                            id="wind-toggle"
                        />
                    </div>
                    <div class="page-controls-group">
                        <h2>Hoisting</h2>
                        <select
                            class="input-control input-btn input-select"
                            aria-label="Hoist side"
                            data-rv-value="flagWaverOpts.flag.hoisting"
                            data-rv-on-change="flagWaverControls.flag.setHoisting"
                            id="set-hoisting"
                        >
                            <option value="dexter">Dexter</option>
                            <option value="sinister">Sinister</option>
                        </select>
                        <select
                            class="input-control input-btn input-select"
                            aria-label="Hoist top edge"
                            data-rv-value="flagWaverOpts.flag.topEdge"
                            data-rv-on-change="flagWaverControls.flag.setTopEdge"
                            id="set-top-edge"
                        >
                            <option value="top">Top</option>
                            <option value="left">Left</option>
                            <option value="bottom">Bottom</option>
                            <option value="right">Right</option>
                        </select>
                    </div>
                </div>
            </aside> -->

        </div>
        <div id="full" style="z-index:10000;width:200px;height:100px;position: fixed;bottom:0%;right:0%;padding:10px;">
            <img id="fullimg" src="/static/css/img/fullscreen.png" style="width:20px;height:20px;filter: invert(100%);float:right;cursor: pointer;pointer-events: auto;" /><br/>
            <img src="/static/css/img/san3a.png" style="height: 50px;width: 120px;float:right;" />
            <p style="font-size:0.5em;float:right;">{{ n }}</p>
        </div>
        <div style="width:200px;height:80px;position: fixed;top:0%;right:0%;padding:10px;">
            <p style="font-size:0.7em;float:right;"><b>Speed(MPH): </b><br/><label for="myalue1" style="vertical-align: middle"></label>
                <br/><b>Direction(Degrees): </b><br/><label for="myalue2" style="vertical-align: middle"></label>°</p>
        </div>
        <div class='notifications top-right'></div>
<!--     <center><font size="2">This is the free demo result. For a full version of this website, please go to  <a href="https://www6.waybackmachinedownloader.com/website-downloader-online/scrape-all-files/">https://www6.waybackmachinedownloader.com/website-downloader-online/scrape-all-files/</a></font></center> -->
<!-- Le javascript
    ================================================== -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="/static/js/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <!-- Placed at the end of the document so the pages load faster -->
<!--     <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script> -->
<!--     <script src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script> -->
<!--     <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script> -->
<!--     <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script> -->
    <script src="/static/js/bootstrap-notify.js"></script>
    <script>
      // Random Messages
      var messages = [
        [ 'bottom-right', 'info',     'Gah this is awesome.'],
        [ 'top-right',    'success',  'I love Nijiko, he is my creator.' ],
        [ 'bottom-left',  'warning',  'Soda is bad.' ],
        [ 'top-right',  'danger',   "I'm sorry dave, I'm afraid I can't let you do that." ],
        [ 'bottom-right', 'info',     "There are only three rules." ],
        [ 'top-right',    'inverse',  'Do you hear me now?' ],
        [ 'bottom-left',  'blackgloss',     'You should fork this!' ]
      ];

      // Pretty print
      window.prettyPrint && prettyPrint()

      // Basic Features, style isn't even required.
      $('.show-notification').click(function (e) {
        var message = messages[Math.floor(Math.random() * messages.length)];
        
        $('.' + message[0]).notify({
          message: { text: message[2] },
          type: message[1],
          fadeOut: {
            delay: Math.floor(Math.random() * 500) + 2500
          }
        }).show();
      });
      
      /* Custom Styles */
      var custom = [
        'bangTidy',
        'blackgloss'
      ];
      
      for(var i = 0; i < custom.length; i++) {
        var type = custom[i];
        
        (function(type) {
          $('.show-' + type).click(function (e) {
            var message = messages[Math.floor(Math.random() * messages.length)];
            $('.' + message[0]).notify({ message: { text: message[2] }, type: type }).show();
          });
        })(type);
      }
    </script>


</body>
    <script type="x-shader/x-fragment" id="fragmentShaderDepth">
        uniform sampler2D texture;
        varying vec2 vUV;
        vec4 pack_depth( const in float depth ) {
            const vec4 bit_shift = vec4( 256.0 * 256.0 * 256.0, 256.0 * 256.0, 256.0, 1.0 );
            const vec4 bit_mask  = vec4( 0.0, 1.0 / 256.0, 1.0 / 256.0, 1.0 / 256.0 );
            vec4 res = fract( depth * bit_shift );
            res -= res.xxyz * bit_mask;
            return res;
        }
        void main() {
            vec4 pixel = texture2D( texture, vUV );
            if ( pixel.a < 0.5 ) discard;
            gl_FragData[ 0 ] = pack_depth( gl_FragCoord.z );
        }
    </script>
    <script type="x-shader/x-vertex" id="vertexShaderDepth">
        varying vec2 vUV;
        void main() {
            vUV = 0.75 * uv;
            vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
            gl_Position = projectionMatrix * mvPosition;
        }
    </script>
</html>
